html {
    /*height: 100%;*
    /*background: black;*/
}

body {
    /* height: inherit; */
    margin: 0;
}


#container {
    /*height: 100vh;*/
    display: grid;
    grid-template-rows: 50px 50px 200px auto;
    grid-template-columns: auto repeat(3, 1fr);
}
.controller {
    width: 100px;
}
#graph-container {
    display: grid;
    grid-template-columns: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}
#graph {
    padding: 10px;
    text-align: center;
}
.animatedtimer {
    background:lightblue;
    top:0;
    bottom:0;
    left:0; 
    width:0%;
}
#workout {
    display: grid;
    grid-template-columns: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}
.workoutrow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
div {
    border-width: 1px;
    border-color: black;
    border-style: dashed;
}
.clock {
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

.done {
    font-style: italic;
}
.actRow {
    font-weight: bold;
}
@media (orientation: landscape) {
    img {
        height: 100%;
        object-fit: cover;
    }
}
